@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Redington Projects</h1>
    

    <br />
    <br />
    <br />
    <button onclick = "location.href='/Probability'">
    Probability Calculator
    </button>
        



</div>
